.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0, 0%, 100%, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(transparent));
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(transparent));
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(transparent));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(transparent));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube,
.swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
    animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes swiper-preloader-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
i,
s,
th,
var {
    font-style: normal;
    font-weight: 400
}

li,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

input[type=checkbox] {
    vertical-align: middle;
    margin-top: -1px
}

body,
button,
input,
select,
textarea {
    font: normal 12px/1.5 PingFang-SC-Regular, Hiragino Sans GB, Helvetica, HelveticaNeue, tahoma, arial, Source Han Sans CN, Microsoft YaHei, Heiti SC, \\5b8b\4f53, sans-serif
}

button {
    white-space: nowrap;
    overflow: visible
}

a:link {
    outline: 0
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none
}

a:active {
    outline: 0
}

a:focus {
    outline-style: none
}

em {
    font-style: normal
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    background-color: #fff
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body>a {
    display: none
}

.fn-left {
    float: left
}

.fn-right {
    float: right
}

.fn-hide {
    display: none
}

.clearfix:after,
.clearfix:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.clearfix:after {
    clear: both
}

.ft-center {
    text-align: center
}

@font-face {
    font-family: iconfont;
    src: url(//at.alicdn.com/t/font_69751_jn49p4a6wzj5g66r.eot);
    src: url(//at.alicdn.com/t/font_69751_jn49p4a6wzj5g66r.eot#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_69751_jn49p4a6wzj5g66r.woff) format("woff"), url(//at.alicdn.com/t/font_69751_jn49p4a6wzj5g66r.ttf) format("truetype"), url(//at.alicdn.com/t/font_69751_jn49p4a6wzj5g66r.svg#iconfont) format("svg")
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-packup:before {
    content: "\E749"
}

.icon-guanbi:before {
    content: "\E60A"
}

.icon-xiajiantou:before {
    content: "\E607"
}

.icon-arrow-right:before {
    content: "\E608"
}

.icon-android:before {
    content: "\E603"
}

.icon-xiala:before {
    content: "\E647"
}

.icon-ios:before {
    content: "\E604"
}

.icon-cost:before {
    content: "\E600"
}

.icon-global:before {
    content: "\E601"
}

.icon-graph:before {
    content: "\E602"
}

.icon-mobilemore:before {
    content: "\E605"
}

.icon-tuyalogo:before {
    content: "\E606"
}

.icon-webbiaoqian:before {
    content: "\E609"
}

.icon-bofang:before {
    content: "\E60B"
}

.icon-zm:before {
    content: "\E62B"
}

.icon-ds:before {
    content: "\E60C"
}

.icon-kg:before {
    content: "\E60D"
}

.icon-msxz:before {
    content: "\E60E"
}

.icon-cpxz:before {
    content: "\E610"
}

.icon-djx:before {
    content: "\E611"
}

.icon-dwtj:before {
    content: "\E612"
}

.icon-fsxz:before {
    content: "\E613"
}

.icon-hq:before {
    content: "\E614"
}

.icon-jr:before {
    content: "\E615"
}

.icon-pb:before {
    content: "\E616"
}

.icon-wdtj:before {
    content: "\E617"
}

.icon-zdycptj:before {
    content: "\E618"
}

.icon-bw:before {
    content: "\E619"
}

.icon-fxxz:before {
    content: "\E61A"
}

.icon-cn:before {
    content: "\E61C"
}

.icon-flz:before {
    content: "\E61D"
}

.icon-ft:before {
    content: "\E61E"
}

.icon-maxzr:before {
    content: "\E61F"
}

.icon-slxz:before {
    content: "\E620"
}

.icon-ss:before {
    content: "\E621"
}

.icon-znly:before {
    content: "\E623"
}

.icon-kqgj:before {
    content: "\E624"
}

.icon-mstj:before {
    content: "\E625"
}

.icon-wsdjl:before {
    content: "\E626"
}

.icon-hs:before {
    content: "\E628"
}

.icon-xd:before {
    content: "\E629"
}

.icon-fg:before {
    content: "\E62A"
}

.icon-hq1:before {
    content: "\E62C"
}

.icon-jcddzm:before {
    content: "\E62D"
}

.icon-nf:before {
    content: "\E62E"
}

.icon-dltj:before {
    content: "\E62F"
}

.icon-lxsz:before {
    content: "\E630"
}

.icon-qsjl:before {
    content: "\E631"
}

.icon-szxs:before {
    content: "\E632"
}

.icon-gdytj:before {
    content: "\E633"
}

.icon-lvxfw:before {
    content: "\E634"
}

.icon-shuibei:before {
    content: "\E635"
}

.icon-shuibeng:before {
    content: "\E636"
}

.icon-ydtx:before {
    content: "\E637"
}

.icon-ystj:before {
    content: "\E638"
}

.icon-zt:before {
    content: "\E639"
}

.icon-lxsyl:before {
    content: "\E63A"
}

.icon-ssmm:before {
    content: "\E63B"
}

.icon-tzjl:before {
    content: "\E63C"
}

.icon-yltj:before {
    content: "\E63D"
}

.icon-kqzl:before {
    content: "\E63E"
}

.icon-ysqh:before {
    content: "\E63F"
}

.icon-ldtj:before {
    content: "\E640"
}

.icon-bf:before {
    content: "\E641"
}

.icon-cs:before {
    content: "\E642"
}

.icon-ystx:before {
    content: "\E643"
}

.icon-fstz:before {
    content: "\E644"
}

.icon-djs:before {
    content: "\E645"
}

.icon-yy:before {
    content: "\E646"
}

.icon-dianhua:before {
    content: "\E61B"
}

.icon-shangla:before {
    content: "\E648"
}

.icon-eco:before {
    content: "\E622"
}

.icon-aqts:before {
    content: "\E627"
}

.icon-qq:before {
    content: "\E60F"
}

.icon-ok:before {
    content: "\E8AD"
}

.icon-more:before {
    content: "\E649"
}

.icon-arrow-left:before {
    content: "\E64A"
}

.icon-googleplay1:before {
    content: "\E90C"
}

.icon-AppStore:before {
    content: "\E90E"
}

.icon-jtlx:before {
    content: "\E916"
}

.icon-gjycsj:before {
    content: "\E917"
}

.icon-qxdxz:before {
    content: "\E918"
}

.icon-sbgx:before {
    content: "\E919"
}

.icon-ydjc:before {
    content: "\E91A"
}

.icon-txfz:before {
    content: "\E91B"
}

.icon-arrow-left-small:before {
    content: "\E91C"
}

.icon-arrow-right-small:before {
    content: "\E91D"
}

.icon-dianhuazixun:before {
    content: "\E9EA"
}

.icon-zaixianzixun:before {
    content: "\E9EB"
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0
}

@media (min-width:1200px) {
    .container {
        width: 1200px
    }
}

@media (max-width:1200px) {
    .container {
        width: 100%
    }
}

@media (max-width:768px) {
    .container {
        width: 100%
    }
}

.row {
    margin-left: 0;
    margin-right: 0
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

.col-pull-0 {
    right: auto
}

.col-pull-1 {
    right: 8.33333%
}

.col-pull-2 {
    right: 16.66667%
}

.col-pull-3 {
    right: 25%
}

.col-pull-4 {
    right: 33.33333%
}

.col-pull-5 {
    right: 41.66667%
}

.col-pull-6 {
    right: 50%
}

.col-pull-7 {
    right: 58.33333%
}

.col-pull-8 {
    right: 66.66667%
}

.col-pull-9 {
    right: 75%
}

.col-pull-10 {
    right: 83.33333%
}

.col-pull-11 {
    right: 91.66667%
}

.col-pull-12 {
    right: 100%
}

.col-push-0 {
    left: auto
}

.col-push-1 {
    left: 8.33333%
}

.col-push-2 {
    left: 16.66667%
}

.col-push-3 {
    left: 25%
}

.col-push-4 {
    left: 33.33333%
}

.col-push-5 {
    left: 41.66667%
}

.col-push-6 {
    left: 50%
}

.col-push-7 {
    left: 58.33333%
}

.col-push-8 {
    left: 66.66667%
}

.col-push-9 {
    left: 75%
}

.col-push-10 {
    left: 83.33333%
}

.col-push-11 {
    left: 91.66667%
}

.col-push-12 {
    left: 100%
}

.col-offset-0 {
    margin-left: 0
}

.col-offset-1 {
    margin-left: 8.33333%
}

.col-offset-2 {
    margin-left: 16.66667%
}

.col-offset-3 {
    margin-left: 25%
}

.col-offset-4 {
    margin-left: 33.33333%
}

.col-offset-5 {
    margin-left: 41.66667%
}

.col-offset-6 {
    margin-left: 50%
}

.col-offset-7 {
    margin-left: 58.33333%
}

.col-offset-8 {
    margin-left: 66.66667%
}

.col-offset-9 {
    margin-left: 75%
}

.col-offset-10 {
    margin-left: 83.33333%
}

.col-offset-11 {
    margin-left: 91.66667%
}

.col-offset-12 {
    margin-left: 100%
}

@media (min-width:320px) and (max-width:768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left
    }
    .col-sm-1 {
        width: 8.33333%
    }
    .col-sm-2 {
        width: 16.66667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333%
    }
    .col-sm-5 {
        width: 41.66667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.33333%
    }
    .col-sm-8 {
        width: 66.66667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333%
    }
    .col-sm-11 {
        width: 91.66667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-pull-1 {
        right: 8.33333%
    }
    .col-sm-pull-2 {
        right: 16.66667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.33333%
    }
    .col-sm-pull-5 {
        right: 41.66667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.33333%
    }
    .col-sm-pull-8 {
        right: 66.66667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.33333%
    }
    .col-sm-pull-11 {
        right: 91.66667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-push-1 {
        left: 8.33333%
    }
    .col-sm-push-2 {
        left: 16.66667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.33333%
    }
    .col-sm-push-5 {
        left: 41.66667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.33333%
    }
    .col-sm-push-8 {
        left: 66.66667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.33333%
    }
    .col-sm-push-11 {
        left: 91.66667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.33333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left
    }
    .col-md-1 {
        width: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-pull-1 {
        right: 8.33333%
    }
    .col-md-pull-2 {
        right: 16.66667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.33333%
    }
    .col-md-pull-5 {
        right: 41.66667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.33333%
    }
    .col-md-pull-8 {
        right: 66.66667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.33333%
    }
    .col-md-pull-11 {
        right: 91.66667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-push-1 {
        left: 8.33333%
    }
    .col-md-push-2 {
        left: 16.66667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.33333%
    }
    .col-md-push-5 {
        left: 41.66667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.33333%
    }
    .col-md-push-8 {
        left: 66.66667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.33333%
    }
    .col-md-push-11 {
        left: 91.66667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}

.notice {
    height: 60px;
    background: #000;
    position: relative;
    display: block;
    z-index: 1
}

.notice .pic {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    display: block
}

.notice .m-pic {
    display: none
}

.notice .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer
}

@media (max-width:768px) {
    .notice {
        height: 80px
    }
    .notice .m-pic {
        display: block
    }
    .notice .pc-pic {
        display: none
    }
}

.header-wrapper {
    position: fixed;
    z-index: 99;
    width: 100%;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.header-container {
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.header {
    height: 62px;
    margin: 28px auto 0;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #eee
}

.header-signin {
    line-height: 62px;
    color: #ff6000;
    font-size: 12px;
    padding: 0 10px
}

.header-signin,
.header-signup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: right
}

.header-signup {
    vertical-align: top;
    margin-right: 40px
}

.header-btn {
    display: block;
    height: 32px;
    margin: 15px 0 22px 10px;
    padding: 0 14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    background-color: #ff6000;
    border: 1px solid #ff6000;
    vertical-align: top;
    cursor: pointer
}

.header-btn:hover {
    background: #ff7726
}

.header-logo {
    float: left;
    padding: 14px 0 13px 40px
}

.header-logo,
.header-logo-link {
    height: 100%;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.header-logo-link:hover .header-logo-img {
    opacity: .8;
    filter: alpha(opacity=80)
}

.header-logo-img {
    height: 35px;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.header .mbmenu-nav {
    visibility: hidden;
    position: absolute;
    top: -1000px
}

.header-ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}

@media (max-width:1200px) {
    .header-ul {
        max-width: none
    }
}

.header .menu-nav {
    visibility: visible;
    position: relative
}

.header .menu-li.sub {
    display: none;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3)
}

.header .menu-li.sub .menu-item {
    display: block;
    height: 52px;
    font-size: 14px;
    line-height: 52px
}

.header .menu-li.sub .menu-item.active {
    font-size: 14px;
    border: none
}

.header .menu-li.sub .menu-item.active .menu-link {
    font-size: 14px;
    color: #ff6000
}

.header .menu-li.sub .menu-item .menu-link {
    display: block;
    width: 200px;
    height: 52px;
    font-size: 14px;
    color: #666
}

.header .menu-li .hoverItem .menu-link {
    color: #ff6000
}

.header .menu-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0;
    vertical-align: top;
    cursor: pointer;
    height: 62px;
    line-height: 62px
}

.header .menu-item.active {
    border-bottom: 3px solid #ff6000
}

.header .menu-item.active .menu-link {
    color: #ff6000
}

.header .menu-item .iconfont {
    visibility: hidden;
    position: absolute
}

.header .menu-link {
    font-size: 14px;
    color: #303030;
    padding: 0 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.header .menu-wrap ul {
    margin: 0 20px
}

.header .sub-menu {
    position: absolute;
    padding-top: 10px;
    margin-left: -20px
}

.animateIn {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.animateOut {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px)
}

.animateOut .header-container {
    width: 100%
}

.header-menu {
    display: none
}

@media screen and (max-width:1200px) {
    .header .menu-link {
        padding: 0 15px
    }
    .notShowInNarrow {
        display: none
    }
    .animateIn .header-container {
        padding: 0 12px
    }
}

@media screen and (max-width:1200px) and (max-width:875px) {
    .animateIn .header-container {
        padding: 0
    }
}

@media screen and (max-width:875px) {
    .header-ul {
        max-width: none
    }
    .header-signup {
        display: none
    }
    .header-signin {
        display: none;
        margin-right: 60px
    }
    .header-wrapper {
        height: 54px;
        position: relative
    }
    .header-wrapper.animateIn,
    .header-wrapper.animateOut {
        -webkit-transform: none;
        transform: none
    }
    .menu-link {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100%
    }
    .menu-item {
        position: relative
    }
    .icon-more {
        position: absolute!important;
        right: 20px
    }
    .header {
        margin: 0;
        text-align: left;
        height: 54px
    }
    .header,
    .header-signin {
        line-height: 54px
    }
    .header-btn {
        margin: 12px 30px 0 0
    }
    .header .menu-nav {
        visibility: hidden;
        display: none
    }
    .header-logo {
        padding: 0;
        vertical-align: top
    }
    .header-logo-link {
        padding: 11px 10px;
        font-size: 0
    }
    .header-logo-img {
        height: 30px;
        width: 69px;
        vertical-align: top
    }
    .header-menu {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        position: absolute;
        right: 20px
    }
    .header-menu.iconfont {
        font-size: 28px;
        color: #ff6000
    }
    .header .mbmenu-nav {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0
    }
    .header .mbmenu-nav .menu-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: -1000px;
        background: #fff;
        visibility: hidden;
        -webkit-transition: top .6s;
        transition: top .6s
    }
    .header .mbmenu-nav .menu-active {
        top: 0;
        visibility: visible
    }
    .header .mbmenu-nav .menu-li {
        float: none;
        display: block
    }
    .header .mbmenu-nav .menu-li .menu-item {
        display: block;
        border-top: 1px solid #e8e8e8;
        border-bottom: none
    }
    .header .mbmenu-nav .menu-li .menu-item .iconfont {
        visibility: visible;
        float: right;
        margin-left: 20px;
        position: static;
        color: #ccc;
        font-size: 20px
    }
    .header .mbmenu-nav .menu-li.main {
        position: relative
    }
    .header .mbmenu-nav .menu-li.sub {
        visibility: visible;
        position: absolute;
        top: 30px;
        left: 1000px;
        width: 100%;
        margin: 0
    }
    .header .mbmenu-nav .menu-li.sub .menu-item {
        border-top: 1px solid #e8e8e8
    }
    .header .top-nav {
        padding: 0 20px;
        color: #ff6000;
        font-size: 18px
    }
    .header .top-nav .iconfont {
        float: right;
        color: #ccc;
        font-size: 28px
    }
    .header .top-nav .txt {
        padding-right: 10px
    }
    .header .top-nav .txt.show:before {
        content: ">";
        padding-right: 10px
    }
}

.introduce {
    background: #112038;
    background-size: cover;
    padding: 80px 0 152px;
    text-align: left;
    overflow: hidden
}

.introduce-item {
    padding-left: 20px
}

@media (max-width:1200px) {
    .introduce-item {
        padding: 0 20px
    }
}

.introduce-wrapper {
    padding-left: 40px;
    text-align: center
}

@media (max-width:1200px) {
    .introduce-wrapper {
        padding: 0 20px
    }
}

.introduce-item-h1 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 8px
}

.introduce-item-h2 {
    color: #707784;
    font-size: 12px;
    padding-bottom: 8px
}

.introduce-item-img {
    padding-bottom: 60px
}

.introduce-item-img img {
    height: 80px;
    margin: 0 5px
}

.introduce-item-img .footer-narrow-img {
    height: 140px
}

.introduce-item-img:last-child {
    margin-top: 20px
}

.join {
    background: url(f089a1829173e3ec6b08395af40c2513.png) top no-repeat;
    text-align: center;
    padding: 183px 0 145px;
    background-size: cover;
    margin-top: -148px;
    position: relative
}

@media (max-width:1200px) {
    .join {
        padding: 100px 0
    }
}

.join-text {
    font-size: 26px;
    color: #e7ecf2;
    height: 38px;
    line-height: 38px
}

.join li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 15px
}

.join a {
    cursor: pointer;
    display: block;
    width: 180px;
    height: 44px;
    background: #2b4a73;
    border: 1px solid #fff;
    text-align: center;
    line-height: 44px;
    color: #ecf0f5;
    font-size: 16px;
    margin: 50px auto;
    border-radius: 4px;
    -webkit-transition: background .1s linear;
    transition: background .1s linear
}

.join a:hover {
    background: #fff;
    color: #2b4a73
}

.join .for-tell-top {
    margin-top: 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}

.join-tell {
    font-size: 22px;
    color: #f0f3f7;
    line-height: 28px
}

.join-tell .iconfont {
    font-size: 28px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-right: 5px;
    line-height: 26px
}

.join-wrapper {
    padding-left: 12px
}

@media screen and (max-width:768px) {
    .join-wrapper {
        padding-left: 0
    }
}

.join-wrapper.wide {
    display: block
}

.join-wrapper.narrow {
    display: none
}

.footer {
    background-color: #f3f3f3
}

.footer-container {
    overflow: hidden;
    padding: 0 15px
}

@media (max-width:1200px) {
    .footer-container {
        padding: 0 30px
    }
}

.footer-wrap {
    padding: 42px 0 60px;
    float: left
}

.footer-introduct {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}

@media (max-width:1200px) {
    .footer-introduct {
        width: 120px
    }
}

.footer-introduct-txt {
    display: block;
    font-size: 14px;
    color: #626262;
    line-height: 32px
}

@media (max-width:1200px) {
    .footer-introduct:nth-child(2) {
        width: 280px
    }
}

.footer-title {
    font-size: 16px;
    line-height: 18px;
    color: #4a4a4a
}

.footer-link {
    display: block;
    font-size: 14px;
    line-height: 32px;
    color: #626262
}

.footer-link:hover {
    color: #ff7726
}

.footer-email {
    font-size: 14px;
    color: #626262
}

.footer-email:hover {
    color: #ff5800
}

.footer-followUs {
    float: right;
    padding: 40px 0 45px
}

.footer-follow {
    margin-right: 35px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    text-align: center
}

.footer-qrcodetxt {
    text-align: center;
    color: #929292;
    font-size: 12px;
    line-height: 24px;
    margin-top: 8px
}

.qrcode-name {
    font-size: 14px;
    color: #666;
    text-align: left;
    width: 192px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    margin-top: 32px
}

.qrcode-img {
    width: 90px;
    height: 90px;
    margin: 25px 0 20px
}

.qrcode-txt {
    font-size: 14px;
    color: #333
}

.qrcode-des {
    font-size: 12px;
    color: #666
}

.copyright {
    height: 80px;
    line-height: 80px;
    position: relative;
    border-top: 1px solid #dbdbdb;
    text-align: center
}

.copyright br {
    display: none
}

.copyright img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.copyright-txt {
    vertical-align: middle;
    font-size: 14px;
    color: #979797
}

.copyright-lang {
    position: absolute;
    vertical-align: top;
    text-align: left;
    right: 0;
    top: 27px;
    color: #6e6e6e
}

.copyright-lang,
.copyright-lang .lang-list {
    width: 144px;
    height: 26px;
    padding: 0 10px;
    border: 1px solid #dbdbdb;
    cursor: pointer
}

.copyright-lang .lang-list {
    display: none;
    position: relative;
    left: -11px;
    bottom: 26px;
    line-height: 26px
}

.copyright-lang:hover .lang-list {
    display: block
}

.copyright-lang:hover .icon-up {
    display: none
}

.copyright-lang .icon-up,
.copyright-lang:hover .icon-down {
    display: block
}

.copyright-lang .icon-down {
    display: none
}

.copyright-link {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    color: #979797;
    text-align: left
}

.copyright .iconfont {
    position: absolute;
    right: 10px;
    bottom: -28px
}

.zhiChi {
    z-index: 100;
    position: relative
}

.zhiChi .buttonWrp {
    margin: 8px 0
}

.zhiChi .buttonWrp:hover {
    background: #005dd6
}

.zhiChi .toTopButton {
    width: 66px;
    height: 30px;
    border: 1px solid #005dd6;
    background: #fff;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 3px
}

.zhiChi .toTopButton .arrowToUp {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.zhiChi .zhiFeedback {
    position: fixed;
    right: 10px;
    bottom: 60px;
    height: 168px
}

.zhiChi .zhiFeedback .phoneNumber {
    background: #005dd6;
    position: absolute;
    right: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    color: #fff;
    font-weight: bolder;
    -webkit-transition: width .4s;
    transition: width .4s;
    overflow: hidden;
    width: 0;
    font-size: 0;
    padding: 0;
    opacity: 0;
    height: 80px
}

.zhiChi .zhiFeedback .phoneNumber p {
    white-space: nowrap
}

.zhiChi .zhiFeedback .active .phoneNumber {
    width: 136px;
    padding: 31px 20px;
    font-size: 12px;
    opacity: 1
}

.zhiChi .zhiFeedback .active .phoneNumber p {
    opacity: 1
}

.zhiChi .phone,
.zhiChi .zhiCustomBtn {
    width: 66px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #0086ff;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15)
}

.zhiChi .active .phone {
    background: #005dd6
}

.zhiChi .phone i,
.zhiChi .zhiCustomBtn i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 9px;
    font-size: 24px;
    vertical-align: top
}

.zhiChi .phone a,
.zhiChi .zhiCustomBtn p {
    font-size: 12px
}

.phone a {
    display: block
}

.zhiChi .zhiCustomBtn {
    margin-top: 8px
}

.ZCChatFrame {
    bottom: 24px;
    right: 96px
}

.ant-tooltip {
    position: fixed;
    z-index: 1060;
    font-size: 12px;
    line-height: 1.5;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.ant-tooltip_hidden {
    opacity: 0
}

.ant-tooltip_visible {
    opacity: .9
}

.ant-tooltip-placement-top,
.ant-tooltip-placement-topLeft,
.ant-tooltip-placement-topRight {
    padding: 5px 0 8px
}

.ant-tooltip-placement-right,
.ant-tooltip-placement-rightBottom,
.ant-tooltip-placement-rightTop {
    padding: 0 5px 0 8px
}

.ant-tooltip-placement-bottom,
.ant-tooltip-placement-bottomLeft,
.ant-tooltip-placement-bottomRight {
    padding: 8px 0 5px
}

.ant-tooltip-placement-left,
.ant-tooltip-placement-leftBottom,
.ant-tooltip-placement-leftTop {
    padding: 0 8px 0 5px
}

.ant-tooltip-inner {
    display: inline;
    cursor: pointer;
    max-width: 250px;
    padding: 8px 10px;
    color: #fff;
    text-align: left;
    background-color: #373737;
    border-radius: 4px;
    min-height: 34px
}

.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
    bottom: 3px;
    border-width: 5px 5px 0;
    border-top-color: #373737
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
    left: 50%;
    margin-left: -5px
}

.ant-tooltip-placement-topLeft .ant-tooltip-arrow {
    left: 16px
}

.ant-tooltip-placement-topRight .ant-tooltip-arrow {
    right: 16px
}

.ant-tooltip-placement-right .ant-tooltip-arrow,
.ant-tooltip-placement-rightBottom .ant-tooltip-arrow,
.ant-tooltip-placement-rightTop .ant-tooltip-arrow {
    left: 3px;
    border-width: 5px 5px 5px 0;
    border-right-color: #373737
}

.ant-tooltip-placement-right .ant-tooltip-arrow {
    top: 50%;
    margin-top: -5px
}

.ant-tooltip-placement-rightTop .ant-tooltip-arrow {
    top: 8px
}

.ant-tooltip-placement-rightBottom .ant-tooltip-arrow {
    bottom: 8px
}

.ant-tooltip-placement-left .ant-tooltip-arrow,
.ant-tooltip-placement-leftBottom .ant-tooltip-arrow,
.ant-tooltip-placement-leftTop .ant-tooltip-arrow {
    right: 3px;
    border-width: 5px 0 5px 5px;
    border-left-color: #373737
}

.ant-tooltip-placement-left .ant-tooltip-arrow {
    top: 50%;
    margin-top: -5px
}

.ant-tooltip-placement-leftTop .ant-tooltip-arrow {
    top: 8px
}

.ant-tooltip-placement-leftBottom .ant-tooltip-arrow {
    bottom: 8px
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    top: 3px;
    border-width: 0 5px 5px;
    border-bottom-color: #373737
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
    left: 50%;
    margin-left: -5px
}

.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow {
    left: 16px
}

.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    right: 16px
}

.footerNarrow {
    display: none
}

.footerNarrow .footer-narrow-title {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;
    cursor: pointer
}

.footerNarrow .footer-narrow-title span {
    color: #666;
    font-weight: bolder
}

.footerNarrow .footer-narrow-title .iconfont {
    float: right;
    color: #666
}

.footerNarrow .footer-narrow-title .icon-xiajiantou {
    display: none
}

.footerNarrow .footer-narrow-body-js {
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    height: 0
}

.footerNarrow .unfold-footerItem .icon-xiajiantou {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.footerNarrow .unfold-footerItem .icon-arrow-right {
    display: none
}

.footerNarrow .unfold-footerItem .footer-narrow-body-js {
    height: auto
}

.footerNarrow .footer-wechatShare {
    text-align: center;
    padding: 40px 0
}

@media only screen and (-min-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-ms-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2),
only screen and (-webkit-min-device-pixel-ratio:2) {
    .introduce {
        background: #112038;
        background: url(1ac4d3e4768aa911b1094b5d434db72c.png) top no-repeat, radial-gradient(#112038 10%, #0c1729);
        background-size: cover;
        padding: 65px 0 152px
    }
    .join {
        background: url(b384292fb7ec238d6964e5e7b1b65b94.png) top no-repeat;
        background-size: cover
    }
}

.introduce-wrapper-narrow {
    display: none
}

@media screen and (max-width:768px) {
    .footerNarrow {
        display: block
    }
    .footerWide,
    .introduce-wrapper-wide {
        display: none
    }
    .introduce-wrapper-narrow {
        display: block
    }
    .introduce-wrapper-narrow br {
        display: none
    }
    .footer-followUs {
        float: none
    }
    .introduce-item-h1 {
        font-size: 1.4rem
    }
    .introduce-item-h2 {
        font-size: 1rem
    }
    .introduce-wrapper.swiper-wrapper {
        padding: 0
    }
    .displayInMobile {
        display: none
    }
    .join-wrapper.narrow,
    .join-wrapper.narrow li {
        display: block
    }
    .join-wrapper.narrow li a {
        width: 260px;
        margin: 16px auto
    }
    .join-wrapper.wide {
        display: none
    }
}

div.swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (max-width:768px) {
    .footer-title {
        color: #666;
        font-weight: bolder;
        font-size: 16px
    }
    .footer-follow {
        width: 150px;
        margin: 0 10px;
        overflow: hidden
    }
    .zhiChi {
        z-index: 100
    }
    .qqConsuleWrp,
    .toTopButton {
        display: none
    }
    .zhiChi .zhiFeedback {
        position: fixed;
        right: 10px;
        bottom: 24px;
        height: 168px
    }
    .zhiChi .phone,
    .zhiChi .zhiCustomBtn {
        width: 55px;
        height: 65px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background: #0086ff;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15)
    }
    .zhiChi .phone:hover,
    .zhiChi .zhiCustomBtn:hover {
        background: #005dd6
    }
    .zhiChi .phone i,
    .zhiChi .zhiCustomBtn i {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-top: 6px;
        font-size: 24px;
        vertical-align: top
    }
    .zhiChi .phone p,
    .zhiChi .zhiCustomBtn p {
        font-size: 12px;
        position: relative;
        top: -5px
    }
    .zhiChi .zhiCustomBtn {
        margin-top: 8px
    }
    .ZCChatFrame {
        bottom: 0!important;
        right: 0!important
    }
    .introduce-item-img img {
        height: 60px
    }
    .introduce .swiper-pagination .swiper-pagination-bullet,
    .introduce .swiper-pagination .swiper-pagination-bullet-active {
        background: #fff
    }
}

.copyright-mb .lang a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 5px
}

.copyright-mb .lang span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    width: 1px;
    height: 14px;
    background-color: #999;
    vertical-align: middle
}

.copyright-mb .lang .cn {
    color: #ff6000
}